* {
  margin: 0;
  padding: 0;
}

/* PAGE SECTION */

/* 适用于全部元素 */
body {
  color: #444;
  font-family: sans-serif; /* 无衬字 */
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 825px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
  position: relative;
}

.main-header {
  background-color: #e3e3e3;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5; /*行间距*/
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#Copyright {
  font-size: 16px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related {
  list-style: none; /*删去列表前的黑点*/
}

body {
  background-color: #ececec;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(3) {
  color: rgb(21, 21, 21);
}

/* 由于article里的第一个子元素是header，所以这段代码无效！*/
article p:fisrt-child {
  color: red;
}

/* styling links */
/* 选择所有 还没被访问过的超链接 */
a:link {
  color: #1098ad;
  text-decoration: none; /* 去掉下划线 */
}

/* 选择所有 已访问过的超链接 */
a:visited {
  color: #1098ad;
}

/* 鼠标悬停在超链接时的超链接样式 */
a:hover {
  color: rgb(255, 191, 0);
  font-weight: bold;
  text-decoration: underline rgb(255, 191, 0);
}

/* 鼠标点击超链接时的超链接样式 */
a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%; /* 与parent container的大小一致 */
  height: auto;
}

.navi {
  text-align: center;
}

nav a:link {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2::after {
  content: "TOP";
  background-color: #ffdd00;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -20px;
}
/* 
resolving conflicts: 最终显示红色

#Copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green !important;
}

*/
